<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @transaction.email %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @transaction.destination %>
</p>

<p>
  <strong>From:</strong>
  <%= @transaction.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @transaction.to %>
</p>

<p>
  <strong>Exchange rate:</strong>
  <%= @transaction.exchange_rate %>
</p>

<p>
  <strong>Original:</strong>
  <%= @transaction.original %>
</p>

<p>
  <strong>Exchanged:</strong>
  <%= @transaction.exchanged %>
</p>

<p>
  <strong>Network fee:</strong>
  <%= @transaction.network_fee %>
</p>

<p>
  <strong>Exchanged fee:</strong>
  <%= @transaction.exchanged_fee %>
</p>

<p>
  <strong>Tx:</strong>
  <%= @transaction.tx_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
